* {
    padding: 0px;
    margin: 0px;
}

body{
    height: 100%;
    background: red;
    padding: 10px;

}

div.container {
    margin:auto;
    padding:10px;
}
.message {
    padding:5px;
}
input {
    height:45px;
    padding:5px;
    margin: 5px 1px;
}
button {
    padding: 5px;
}