$background: #0288D1;
$input-text-color: #555;
$font-color: #fff;
$span-color: #333333;
$danger-button-background: #d9534f;
$danger-button-border-color: #d43f3a;
$font-family: Georgia, 'Times New Roman', Times, serif;
* {
	padding: 0px;
	margin: 0px;
}
section.content-wrapper {
	height: 100%;
	background: #03A9F4;
}
section.login-wrapper {
	header {
		height: 120px;
        background: $background;
        p {
            text-align: center;
            color:$font-color;
            font-size: 50px;
            height:50%;
        }
    }
    div.login-container {
        padding: 20px;
        .message {
            margin: 5px;
            padding: 5px;
        }
    }
}


input, textarea {
	height: 45px;
	padding: 5px;
	margin: 5px 1px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color: $input-text-color;
}
textarea {
	height: 100px;
	resize: none;
}
button {
	margin: 10px;
	padding: 5px;
	color: $font-color;
	background: $background;
}
table {
	tr {
		&:first-child {
			border-top: none;
			text-align: right;
		}
		text-align: left;
		vertical-align: top;
		border-bottom: 2px solid grey;
		td {
			padding: 10px;
		}
		img {
			height: 100px;
			width: 80px;
			cursor: pointer;
		}
	}
}
aside.sidebar {
	list-style: none;
	background: $background;
	color: $font-color;
	height: 100%;
	li {
		padding: 10px;
		cursor: pointer;
		font-size: 16px;
		height: 100%;
	}
}
section.books-wrapper {
    padding: 5px;
    .filter-list {
        list-style: none;
        margin-top: 50px;
        li {
            display: inline;
            cursor: pointer;
            padding: 5px;
            font-size: 16px;
        }
    }
    
}
.books {
	list-style: none;
	li {
		display: inline;
		cursor: pointer;
	}
	img {
		margin: 5px;
	}
}
section.issued-wrapper {
	padding: 5px;
}
section.details-wrapper {
    padding: 15px;
    div.info-box {
        padding: 10px;
        .title {
            font-family: $font-family;
            span {
                font-size: 14px;
                color: $span-color;
            }
            span.author {
                font-size: 16px;
            }
        }
        p {
            margin-top: 5px;
            line-height: 21px;
        }
    }
    
}
button.delete {
	background: $danger-button-background;
	border-color: $danger-button-border-color;
}
section.profile-wrapper {
	padding: 15px;
}
