form select {
  display: inline-block
}

.filter-list {
    list-style: none;
    margin-top: 50px;
  }
  
  .filter-list li {
    display: inline;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
  }
  
  .books {
    list-style: none;
  }
  
  .books li {
    display: inline;
    cursor: pointer
  }
  
  .books img {
    margin: 5px;
  }