.title {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.title span {
    font-size: 14px;
    color: #333333;
}

.title span.author {
    font-size: 16px;
}

textarea {
    resize: none;
}