<div [ngClass] = "['wrapper col-sm-12']">
        <aside [ngClass] = "['sidebar col-sm-3']">
            <ul>
                <li routerLink="/admin/list-books">All Books</li>
                <li routerLink="/admin/add-book">Add Book</li>
                <li routerLink="/admin/user">Users</li>
                <li routerLink="/logout">LogOut</li>
            </ul>
        </aside>
        <section [ngClass]="['col-sm-9 content-wrapper']">
                <router-outlet></router-outlet>
        </section>
</div>
