<form [formGroup]="searchForm" novalidate [ngClass]="['col-sm-12']">
        <input #searchBox placeholder="Search Book" [ngClass]="['col-sm-8 form-control']" formControlName="searchControl" (keyup) = "searchBook(searchBox.value)">
</form>
      
<div *ngIf = "searchFlag === false">
    <ul [ngClass]="['filter-list']">
        <li *ngFor="let book of books" (click)="filterBooks(book.genre)">
            {{book.genre}}
        </li>
    </ul>
    
    <ul [ngClass]="['books']" *ngIf = "filter === false">
        <li  *ngFor="let book of books">
        <img src = "assets/images/amazon.jpg" class = " img-responsive col-sm-2" alt="{{book.title}}" (click)="goToBook(book)">
        </li>
    </ul>
    
    
    <ul [ngClass]="['books']" *ngIf = "filter === true">
        <li  *ngFor="let book of filteredBooks"
            (click)="onSelect(book)">
            <img src = "assets/images/amazon.jpg" class = " img-responsive col-sm-2" alt="{{book.title}}" (click)="goToBook(book)">
        </li>
    </ul>
</div>
<div *ngIf = "searchFlag === true">
    <ul [ngClass]="['books']">
        <li  *ngFor="let book of searchResults"
        (click)="onSelect(book)">
        <img src = "assets/images/amazon.jpg" class = " img-responsive col-sm-2" alt="{{book.title}}" (click)="goToBook(book)">
        </li>
    </ul>
</div>
        