<section [ngClass]="['ruser-wrapper']">
        <table [ngClass]="['col-sm-9 table table-responsive']">
            <tr><th>Id</th><th>Name</th><th>Issued Books</th><th>Return By</th></tr>
            <tr *ngFor="let book of books" [routerLink]="['/user/detail', book.id]">
                <td [ngClass]="['col-sm-3']">
                    <img src = "assets/images/amazon.jpg" class = "img-responsive" alt="{{book.title}}">
                </td>
                <td [ngClass]="['col-sm-3']">{{book.title}}</td>
                <td [ngClass]="['col-sm-3']">{{book.author}}</td>
                <td [ngClass]="['col-sm-3']">Return By</td>
            </tr>
        </table>
    </section>