<section [ngClass]="['col-sm-12 details-wrapper']">
    <div *ngIf="book && previousRoute !== 'edit'" [ngClass]="['col-sm-12']">
        <img src="assets/images/amazon.jpg" class=" img-responsive col-xs-4 col-sm-3" alt="{{book.title}}">
        <div [ngClass]="['info-box col-sm-9']">
            <h2 [ngClass]="['title col-sm-12']">{{book.title}} <br><span>by <span [ngClass]="['author']">{{book.author}}</span></span>
            </h2>
            <p [ngClass]="['col-sm-12']">{{book.description}}</p>
            <p [ngClass]="['col-sm-2']">ISBN</p>
            <p>{{book.ISBN}}</p>
            <!-- <p [ngClass]="['col-sm-2']">Copies</p>
            <p>{{book.copies}}</p> -->
            <textarea [ngClass]="['form-control']" placeholder="Write Review"></textarea>
            <p [ngClass]="['alert alert-success message']" *ngIf = "issueSuccess">Book Issued</p>
            <p [ngClass]="['alert alert-success message']" *ngIf = "returnSuccess">Book Returned</p>
            <button *ngIf = " isAdmin" [ngClass]="['btn btn-lg']" (click)="updateBook(book);" [routerLink]="['/admin/edit', book.id]">Edit</button>
            <button *ngIf = " isIssued" [ngClass]="['btn btn-lg']" (click)="returnBook(book);">Return</button>
            <button *ngIf = " isAdmin === undefined && isIssued === undefined" [ngClass]="['btn btn-lg back-button']" (click)="issueBook(book)">Issue</button>
            <button [ngClass]="['btn btn-lg back-button']" (click)="goBack()">Back</button>
        </div>
    </div>
    <div *ngIf="book && previousRoute === 'edit'" [ngClass]="['col-sm-12 col-md-offset-2 col-md-10']">
        <table [ngClass]="['col-sm-10']">
            <tr><th [ngClass]="['col-sm-2']">Title</th><td [ngClass]="['col-sm-10']"><input #title [ngClass]="['col-sm-12']" value="{{book.title}}"></td></tr>
            <tr><th [ngClass]="['col-sm-2']">Author</th><td [ngClass]="['col-sm-10']"><input #author [ngClass]="['col-sm-12']" value="{{book.author}}"></td></tr>
            <tr><th [ngClass]="['col-sm-2']">Copies</th><td [ngClass]="['col-sm-10']"><input #copies [ngClass]="['col-sm-12']" value="{{book.copies}}"></td></tr>
            <tr><th [ngClass]="['col-sm-2']">Description</th><td [ngClass]="['col-sm-10']"><textarea #description [ngClass]="['col-sm-12']">{{book.description}}</textarea></td></tr>
            <tr>
                <th [ngClass]="['col-sm-2']"><button [ngClass] = "['btn btn-lg btn-primary']"(click)="updateBook(title.value, author.value, copies.value, description.value)">Update</button></th>
                <th [ngClass]="['col-sm-4']"><button [ngClass] = "['btn btn-lg btn-primary']" (click)="goBack()">Cancel</button></th>
            </tr>
        </table>
    </div>
</section>